<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>The Wishing App</title>
</head>
<body>
    <div class="top">
        <h1>Hello {{user.first_name}}! Let's edit your wish!</h1>
        <h5><a href="/logout">Logout</a></h5>
    </div>
    <div class="contain">
        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/wishes/update/{{wish.id}}" method="post">
        {% csrf_token %}
        <label for="wish">I wish for</label>
        <input type="text" name="wish" id="wish" value="{{wish.wish}}"><br><br>
        <label for="desc">Description</label>
        <input type="text" name="desc" id="desc" value="{{wish.description}}"><br><br>
        <button type="submit">Edit</button>
        </form>
        <a href="/wishes"><button type="submit">Cancel</button></a>
    </div>
</body>
</html>