<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>The Wishing App</title>
</head>
<body>
    <div class="top">
        <h1>Welcome {{ this.first_name }}! These are your stats!</h1>
        <div class="right">
            <a href="/logout"><button>Logout</button></a>
            <a href="/wishes"><button>Dashboard</button></a>
        </div>
    </div>
    <div class="contain">
        <h3>Total wishes granted so far for all users: {{counter.tgw}}</h3>
        <p>Your granted wishes : {{counter.gw}}</p>
        <p>Your pending wishes : {{counter.pw}}</p>
    </div>
</body>
</html>