<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Trip Buddy Dashboard</title>
</head>
<body>
    <div class="top">
        <h1>Welcome {{ user.first_name }}!</h1>
        <div class="right">
            <a href="/logout"><button>Logout</button></a>
            <a href="/trips/new"><button>Create a new trip!</button></a>
        </div>
    </div>
    <div class="mid">
        <h3>Your trips:</h3>
        <table>
            <th>
                <tr>
                    <td>Destination</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Plan</td>
                    <td>Actions</td>
                </tr>
            </th>
            <tbody>
                {% if mytrips %}
                    {% for trip in mytrips %}
                        <tr>
                            <td><a href="/trips/{{trip.id}}">{{ trip.destination }}</a></td>
                            <td>{{ trip.start }}</td>
                            <td>{{ trip.end }}</td>
                            <td>{{ trip.plan }}</td>
                            <td>
                                <a href="/trips/remove/{{trip.id}}">Remove</a> | 
                                <a href="/trips/edit/{{trip.id}}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}            
                {% if joined %}
                {% for trip in joined %}
                    <tr>
                        <td><a href="/trips/{{trip.id}}">{{ trip.destination }}</a></td>
                        <td>{{ trip.start }}</td>
                        <td>{{ trip.end }}</td>
                        <td>{{ trip.plan }}</td>
                        <td>
                            <a href="/trips/cancel/{{trip.id}}">Cancel</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="bot">
        <h3>Other people's trips</h3>
        <table>
            <th>
                <tr>
                    <td>Destination</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Plan</td>
                    <td>Actions</td>
                </tr>
            </th>
            <tbody>
                {% if trips %}
                    {% for trip in trips %}
                        {% if trip not in mytrips and trip not in joined %}
                            <tr>
                                <td><a href="/trips/{{trip.id}}">{{ trip.destination }}</a></td>
                                <td>{{ trip.start }}</td>
                                <td>{{ trip.end }}</td>
                                <td>{{ trip.plan }}</td>
                                <td><a href="/join/{{trip.id}}">join</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>